<template>
    <div id="trig">
        <h1>Trig of angle {{ angle }}</h1>
        <br />
        <p>Sin : {{getSin()}}</p>
        <br />
        <p>Cos : {{getCos()}}</p>
        <br />
        <p>Tan : {{getTan()}}</p>
        <br />
        <input :value="angle" @input="updateAngle($event)" type="number">
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class Trig extends Vue {
    angle = 0;
    rangle = 0;
    updateAngle($event: any) {
        this.angle = $event.target.value;
        this.rangle = this.angle * Math.PI / 180;
    }
    getSin() {
        return Math.sin(this.rangle).toFixed(2);
    }
    getCos() {
        return Math.cos(this.rangle).toFixed(2);
    }
    getTan() {
        return Math.tan(this.rangle).toFixed(2);
    }
}
</script>
